.suggestion_container {
  margin-top: 20px;
}

.title {
  font-size: 24px;
}

.header {
  margin-bottom: 30px;
  text-align: center;
}

.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -22px;
  display: flex;
}

.grid::after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 769px){
  .suggestion_container {
    margin-top: 40px;
  }

  .title {
    font-size: 32px;
  }

  .header {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 768px){
  .grid {
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
  }
}
