.image {
  max-width: 100%;
  max-height: 100%;
}

.product {
  margin-bottom: 15px;
  padding-left: 22px;
  width: 100%;
  min-height: 1px;
  white-space: normal;
  position: relative;
}

.image_container {
  height: 180px;
  object-fit: cover;
  align-items: center;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.discount_badge {
  position: absolute;
  right:0px;
  top:0px;
  background:#db1111;
  text-align: center;
  color:white;
  padding:4px 6px;
  font-size:10px;
}

.price_container {
  font-size: 0.75rem;
  color: #19232d;
  margin-top: 5px;
}

.price_original {
  text-decoration: line-through;
  margin-right: 5px;
}

.price_discount {
  color: #db1111;
  margin-left: 5px;
  white-space: nowrap;
}

.product_title {
  text-align: center;
  position: relative;
  margin-top: 0.8rem;
  padding: 10px 0 6px 0;
  line-height: 1.5;
}

@media only screen and (min-width: 769px){
  .product {
      margin-bottom: 30px;
      width: 20%;
  }

  .price_container {
    font-size: 13.6px;
  }

  .discount_badge {
    position: absolute;
    right:0px;
    top:0px;
    background:#db1111;
    text-align: center;
    color:white;
    padding:5px 10px;
    font-size:12px;
  }
}

@media only screen and (max-width: 768px){
  .image_container {
    height: 100px;
    width: 35vw;
  }
}
