.process {
  background-color: #fafafa;
  padding: 35px 20px;
}

.process .description {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #19232d;
}

.process .content-container {
  padding-top: 30px;
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.process .content-container .item {
  width: 32%;
  padding-left: 22px;
}

.process .image {
  width: 160px;
  height: 160px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-size: cover;
}

.process .process-description {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #19232d;
}

@media screen and (max-width: 768px) {
  .process h1 {
    font-size: 24px;
  }

  .process .description {
    font-size: 16px;
  }

  .process .process-description {
    font-size: 16px;
  }

  .process .content-container {
    display: block;
  }
  .process .content-container .item {
    padding: 0px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .process .image {
    width: 96px;
    height: 96px;
  }
}
