@import "../common.module.css";

.advantages {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: white;
  text-align: center;
  font-family: Quicksand;
}

.advantages h1 {
  padding: 0px;
  margin-bottom: 25px;
}

.advantages a {
  padding: 10px 15px 10px 15px;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-decoration: none;
  display: inline-block;
}

.advantages .content-container {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}

.advantages .advantage-container {
  display: block;
  width: 23%;
  padding-left: 22px;
}

.advantages .advantage-container .text-blocks {
  margin-top: 15px;
}

.advantages .advantage-container .text-blocks .advantage-title-wrapper {
  height: 60px;
  word-break: break-all;
}

.advantages .advantage-image {
  width: 160px;
  height: 160px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-size: cover;
}

.advantages .advantage-container .text-blocks .advantage-title-wrapper .advantage-title {
  font-family: Quicksand;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  margin: 0 0 10px 0;
  color: #19232d;
  word-break: normal;
}

.advantages .advantage-container .text-blocks .advantage-description {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #19232d;
}

@media only screen and (max-width: 768px) {
  .advantages h1 {
    font-size: 24px;
  }

  .advantages a {
    margin-bottom: 20px;
  }

  .advantages .advantage-image {
    display: inline-block;
    margin: 0px;
    margin-right: 15px;
    width: 96px;
    height: 96px;
  }

  .advantages .advantage-container .text-blocks {
    margin-top: 0;
  }

  .advantages .advantage-container .text-blocks .advantage-title-wrapper {
    height: fit-content;
  }

  .advantages .advantage-container .text-blocks .advantage-title-wrapper .advantage-title {
    font-size: 16px;
    line-height: 1.75;
    display: inline-block;
    text-align: left;
  }

  .advantages .advantage-container .text-blocks .advantage-description {
    font-size: 16px;
    display: inline-block;
    text-align: left;
    margin: 0px;
  }

  .advantages .advantage-container {
    text-align: left;
    margin-top: 20px;
    width: 100%;
    display: flex;
    padding-left: 0px;
  }

  .advantages .content-container {
    display: initial;
    grid-template-columns: initial;
    row-gap: 25px;
  }
}
